<%= render 'shared/title', title: "Show psot #{@post.id}: #{@post.title}" %>

<div class="row">
  <div class="col-md-8 well">
    <%= @post.title %>
    <p>
      <%= @post.content %>
    </p>
  </div>
</div>

<% @post.comments.each do |comment|%>
  <div class="col-md-6 well">
    <p>
      <% comment.content %>
    </p>
  </div>
<% end %>

<hr>
<div class="row">
  <%= link_to 'go back to all posts', posts_path %>
</div>
